// src/assets/styles/variables.scss
$dark-color: #0A1F38;
$middle-color: #1B2F46;
$dark-light-color: #2F4056;
$gray-color: #9DA5AF;
$green-dark-color: #819400;
$green-middle-color: #97AB0D;
$green-color: #A5BB0C;
$green-light-color: #B1C909;
$white-color: #FFFFFF;
$font-family: 'Montserrat', sans-serif;


$mobile: 360px;
$tablet: 768px;
$desktop: 1366px;
$desktop_full: 1920px;
